@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
}
:root{
    --cor01: #18181b;
    --cor02: #b785f2;
    --cor03: #ffffff;
    --cor04: #2f2e35;
    --cor05: #0e0e10;
    --cor06: #8000ff;
}
body{
    height: 100%;
    background-color: #0e0e10;
}
header{
    width: 100%;
    display: flex;
    height: 60px;
    position: fixed;
    z-index: 100;
    background-color: #18181b;
    box-shadow: inset 0px -1px 1px 1px #040404;
    align-items: center;
    flex-direction: row;

}
header img#Logo{
    border-radius: 4px;
    background-color: hsl(240deg 8% 88% / 40%);
    margin: 0px 2% 0px 2%;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}
header img#Logo:hover{
    transform: scale(1.1);
}
nav{
    position: relative;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    transition: 0.5s;
}
nav ul li a{
    text-decoration: none;
    font-family: "Inder", Sans-serif;
    font-size: 1.3em;
    color: #ffff;
    cursor: pointer;
}
li>a{
    color: #ffffff;
    cursor:pointer;
    text-decoration: none;
}
li>a:hover{
    color: #b785f2;
}
#Mais{
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 0.2rem;
    background-image: url(img/Section\ 1.png);
    margin: 0px 10% 0 0%;
    cursor: pointer;
}
#Mais:hover{
    background-image: url(img/Section\ 2.png);
}
.search{
    display: flex;
    width: 19%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
div.input{
    width: 90%;
}
#Buscar{
    height: 25px;
    width: 95%;
    padding: 5px 2%;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #18181b;
    border-color: transparent;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    box-shadow: inset 0 0 0 1px hsl(240deg 8% 88% / 40%);
    outline: none;
}
input#Buscar::placeholder{
    color: rgb(170, 170, 170);
}
#Buscar:hover{
    box-shadow: inset 0 0 0 1px  hsl(240deg 8% 88% / 60%);
}
header button{
    height: 35px;
    width: 35px;
    border: none;
    background-image: url(img/Lupa.PNG);
    cursor: pointer;
}
header button:hover{
    background-image: url(img/Lupa2.png);
}
#right-header{
    width: 41.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#profile{
    display: block;
    margin-left: 1%;
    width: 36px;
    height: 36px;
    background-image: url(img/profile.png);
    box-shadow: inset 0 0 0 1px hsl(240deg 8% 88% / 40%);
    cursor: pointer;
    border-radius: 0.2rem;
}
#profile:hover{
    background-image: url(img/profile2.png);
}
#msg{
    display: block;
    margin: 0 0.5%;
    width: 36px;
    height: 36px;
    background-image: url(img/msg1.png);
    cursor: pointer;
    border-radius: 0.2rem;
}
#msg:hover{
    background-image: url(img/msg2.png);
}
#ads{
    display: flex;
    margin: 0 0.5%;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 6px 8px 6px 6px;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    background-color: #2f2e35;
}
#ads img{
    margin-right: 10px;
}
#ads:hover{
    box-shadow: inset 0 0 0 1px hsl(240deg 8% 88% / 40%);
}
#chest{
    display: block;
    margin: 0 0.5%;
    width: 36px;
    height: 36px;
    background-image: url(img/chest.png);
    cursor: pointer;
    border-radius: 0.2rem;
}
#chest:hover{
    background-image: url(img/chest2.png);
}
#coroa{
    display: block;
    margin: 0 0.5%;
    width: 36px;
    height: 36px;
    background-image: url(img/coroa.png);
    cursor: pointer;
    border-radius: 0.2rem;
}
#coroa:hover{
    background-image: url(img/coroa2.png);
}
#left-header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    height: 100%;
    width: 240px;
    background-color: #18181b;
}
#left-header h1{
    color: white;
    font-size: larger;
    font-weight: 500;
    padding: 5px 5px 5px 10px;
}
#left-header p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 5px 5px 10px;
}
#followed1{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
}
.followed2{
    display: flex;
    cursor: pointer;
    height: 30px;
    flex-direction: row;
    padding: 5px 5px 5px 10px;
}
.followed2:hover{
    box-shadow: inset 0 0 0 1px hsl(240deg 8% 88% / 40%);
}