@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
}
body{
    background-color: #0e0e10;
}
header{
    width: 100%;
    display: flex;
    height: 60px;
    position: fixed;
    z-index: 100;
    background-color: #18181b;
    align-items: center;
    flex-direction: row;

}
header img#Logo{
    border-radius: 4px;
    background-color: hsl(240deg 8% 88% / 40%);
    margin: 0px 2% 0px 2%;
    height: 40px;
    cursor: pointer;
}
nav{
    position: relative;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    transition: 0.5s;
}
nav ul li a{
    text-decoration: none;
    font-family: "Inder", Sans-serif;
    font-size: 1.3em;
    color: #ffff;
    cursor: pointer;
}
li>a{
    color: #ffffff;
    cursor:pointer;
    text-decoration: none;
}
#Mais{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 0.2rem;
    background-image: url(img/Section\ 1.png);
    margin: 0px 10% 0 0%;
    cursor: pointer;
}
#Mais:hover{
    background-image: url(img/Section\ 2.png);
}
.search{
    display: flex;
    width: 19%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
div.input{
    width: 90%;
}
#Buscar{
    height: 25px;
    width: 95%;
    padding: 5px 2%;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #18181b;
    border-color: transparent;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    box-shadow: inset 0 0 0 1px hsl(240deg 8% 88% / 40%);
    outline: none;
}
input#Buscar::placeholder{
    color: rgb(170, 170, 170);
}
#Buscar:hover{
    box-shadow: inset 0 0 0 1px  hsl(240deg 8% 88% / 60%);
}
header button{
    height: 35px;
    width: 35px;
    border: none;
    background-image: url(img/Lupa.PNG);
    cursor: pointer;
}
header button:hover{
    background-image: url(img/Lupa2.png);
}
:root{
    --cor01: #18181b;
    --cor02: #b785f2;
    --cor03: #ffffff;
    --cor04: #2f2e35;
}