@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

    height: 100%;
    background-color: #000000f2;
    font-family: "bebas", sans-serif ;
}

header {

    display: flex;
    height: 9vh;
    background: linear-gradient(to bottom, #9C0808, #5c0000);
    align-items: center;
    flex-direction: row;

}
.left-header{

    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;

}
.left-header>img{
    height: 8vh;
    margin: 0px 0px 0px 12%;
    transition: 0.5s;
    cursor: pointer;

}
.left-header>img:hover{
    transform: scale(1.1);
}
nav{
    width: 100%;
}
ul{

    width: 100%;
    list-style: none;
    margin: 0px 0px 0px 8%;

}

li{

    margin: 0px 30px;
    
}

li>a{
    float: left;
    text-decoration: none;
    font-size: large;
    color: rgba(255, 255, 255, 0.877);
    padding: 10px;
    margin: 0 60px 0 0px;
    border-radius: 3px;
    transition: 0.75s;
}
li>a:hover{
    
    background-color: black;
}
.right-header{

    display: flex;
    width: 20%;
    float: right;
    justify-content: flex-end;
    align-items: center;
}
.right-header>#user{

    height: 6vh;
    margin: 0px 0px 0px 20px;
    cursor: pointer;
}
.right-header>#settings{

    height: 1.1vh;
    margin: 0px 20px 0px 5px;
    cursor: pointer;
}
.right-header>#settings:hover{

    transform:rotate(90deg);
}
.search
{
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px #0F0E0E;
    overflow: hidden;
}
.search.active
{
width: 250px;
}
.search .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
}
.search .icon::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background:black;
    transform: translate(6px,6px) rotate(315deg);

}
.search .input
{
    position: relative;
    width: 200px;
    height: 28px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #0F0E0E;
    font-size: 16px;
    font-family: "bebas", sans-serif ;
    padding: 17px 0;

}
.firstRow{
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 6%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
button.btnPrevious{
    background-image: url(img/anterior.png);
    z-index: 9;
    height: 50px;
    width: 25px;
    background-color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
}
button.btnNext{
    background-image: url(img/proximo.png);
    z-index: 9;
    width: 25px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btnNext:hover, .btnPrevious:hover{
    transform: scale(1.2);
}
#firstRowP{
    top: 13%;
    left: 6%;
    width: 30%;
    position: relative;
    font-size: 2em;
    color: white;
    filter: drop-shadow(0px 0px 1px white);
}
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    background-color: rgba(255, 255, 255, 0.877);
    display: block;
    filter: drop-shadow(0px 0px 2px white);
    width: 20%;
    height: 80%;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}
#one5, #one6, #one7, #one8{
    display: none;
}
#one1.inactive, #one2.inactive, #one3.inactive, #one4.inactive, #one5.inactive, #one6.inactive, #one7.inactive, #one8.inactive{
    display: none;
}
#one1.active, #one2.active, #one3.active, #one4.active, #one5.active, #one6.active, #one7.active, #one8.active {
    display: block;
}
#one1:hover, #one2:hover, #one3:hover, #one4:hover,#one5:hover, #one6:hover, #one7:hover, #one8:hover, #two1:hover, #two2:hover, #two3:hover, #two4:hover{
    transform: scale(1.05);
}
.secondRow{
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 2%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#secondRowP{
    top: 5%;
    left: 6%;
    width: 30%;
    position: relative;
    font-size: 2em;
    color: white;
    filter: drop-shadow(0px 0px 1px white);
}
@media only screen and (max-width:1600px){#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 70%; 
}
}
@media only screen and (max-width:1500px){
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 65%;
}
.firstRow{
    margin-top: 2%;
}
#firstRowP, #secondRowP{
    top: 7%;
}
}
@media only screen and (max-width:1250px){
.search{
    display: none;
}
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 55%;
}
}
@media only screen and (max-width:1000px){
.left-header>img{
    margin: 0px 0px 0px 9%;
}
li>a{
    margin-right: 30px;
}
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 45%;
}
#firstRowP, #secondRowP{
    font-size: 1.8em;
}
}
@media only screen and (max-width:1000px){
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 35%;
}
#firstRowP, #secondRowP{
    font-size: 1.5em;
}
#secondRowP{
    margin-top: -8%;
}
.secondRow{
    margin-top: 0%;
}
.firstRow{
    margin-top: -1%;
}
}
@media only screen and (max-width:800px){
nav{
    position: relative;
    left: -35px;
}
li>a{
    margin-right: 0px;
}
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 30%;
}
#secondRowP{
    margin-top: -12%;
}
}
@media only screen and (max-width:590px){
#one1, #one2, #one3, #one4, #one5, #one6, #one7, #one8, #two1, #two2, #two3, #two4{
    height: 25%;
}
#firstRowP, #secondRowP{
    font-size: 1.3em;
}
#secondRowP{
    margin-top: -18%;
}
.left-header>img{
    margin: 0px 0px 0px 7%;
}
nav{
    left: -30px;
}
li>a{
    font-size: medium;
    padding: 5px;
}
}