@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

    height: 100%;
    background-color: #0F0E0E;
    font-family: "bebas", sans-serif ;
}

header {

    display: flex;
    height: 10vh;
    background: linear-gradient(to bottom, #9C0808, transparent);
    align-items: center;
    flex-direction: row;

}
.left-header{

    display: flex;
    width: 80%;
    justify-content: flex-start;

}
.left-header>img{
    height: 6vh;
    margin: 0px 0px 0px 12%;
    transition: 0.5s;
    cursor: pointer;

}
.left-header>img:hover{
    transform: scale(1.1);
}
nav{
    width: 100%;
}
ul{

    width: 100%;
    list-style: none;
    margin: 0px 0px 0px 108px;

}

li{

    margin: 0px 30px;
    
}

li>a{
    float: left;
    text-decoration: none;
    font-size: large;
    color: rgba(255, 255, 255, 0.877);
    padding: 10px;
    margin: 0 60px 0 0px;
    border-radius: 3px;
    transition: 0.75s;
}
li>a:hover{
    
    background-color: black;
}
.right-header{

    display: flex;
    width: 20%;
    float: right;
    justify-content: flex-end;
    align-items: center;
}
.right-header>#user{

    height: 6vh;
    margin: 0px 0px 0px 20px;
}
.right-header>#settings{

    height: 1.1vh;
    margin: 0px 20px 0px 5px;
    cursor: pointer;
}
.right-header>#settings:hover{

    transform:rotate(90deg);
}
.search
{
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px #0F0E0E;
    overflow: hidden;
}
.search.active
{
width: 250px;
}
.search .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
}
.search .icon::after
{
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background:black;
    transform: translate(6px,6px) rotate(315deg);

}
.search .input
{
    position: relative;
    width: 200px;
    height: 28px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #0F0E0E;
    font-size: 16px;
    font-family: "bebas", sans-serif ;
    padding: 17px 0;

}
.firstRow{
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 6%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#firstRowP{
    top: 9%;
    left: 4%;
    width: 30%;
    position: relative;
    font-size: 2em;
    color: white;
    filter: drop-shadow(0px 0px 2px white);
}
#one1, #one2, #one3, #one4{
    background-color: rgba(255, 255, 255, 0.877);
    background-image: url(img/placeholder.png);
    filter: drop-shadow(0px 0px 2px white);
    width: 22%;
    height: 90%;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}
#one1:hover, #one2:hover, #one3:hover, #one4:hover{
    transform: scale(1.05);
}


